.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Rubik, Verdana, Arial, sans-serif;
}

.search-container {
  width: 100%;
  max-width: 600px;
}



.slider {
  display: flex;
  width: 100%;
  animation: slide 10s linear infinite;
}

.slider img {
  width: 100vw;
  height: auto;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.sidebar {
  width: 25%;

  padding: 20px;
  background-color: #e4e4e4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 20px;
  margin-top: 0;
}

.sidebar p {
  font-size: 14px;
}
.carrito {
  border: 1px solid #ccc;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 100px;
  width: 300px;
}

#carrito-lista {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}