.card {
    border: 1px solid #ccc;
    width: 15em;
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    box-sizing: border-box;
    position: relative;
  }

.card p {
    margin: 0.4em;
}
  
.new-car {
    border: 2px solid green;
  }
  

.old-car {
    border: 2px solid red;
}
  

.new-banner {
    position: absolute;
    border: 1px solid green;
    top: 1em;
    left: 40%;
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center; 
  }