body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    max-width: 70vw;
    margin: 20px auto;
    padding: 20px 80px 20px 80px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
